/* CSS Document */
ul,li,ol,ul {
	list-style: none;
}

body {
	margin: 0 auto;
	padding: 0;
	font: 12px "宋体";
	text-align: center;
}

#wrap {
	margin: 0 auto;
	text-align: left;
}

img {
	border: 0;
}

#top,#content,#bottom {
	
}

a:hover {
	text-decoration: none;
}


/*************登录入口页面布局开始***************/
#wrap {
	background: url(../images/body_bj_02.gif) repeat-x;
}

.top {
	width: 962px;
	margin: 0 auto;
	height: 85px;
	margin-bottom: 8px;
	background: url(../images/registration_pic_02.gif) no-repeat;
}

* html .top {
	width: 962px;
	margin: 0 auto;
	height: 56px;
	margin-bottom: 8px;
}

.logo {
	float: left;
	margin-left: 20px;
	padding-top: 20px;
}

* html .logo {
	float: left;
	margin-left: 10px;
	padding-top: 20px;
}

.gsmc {
	float: right;
	font-family: "宋体";
	font-size: 16px;
	color: #E90900;
	margin-top: 44px;
	width: 535px;
	font-weight: bold;
}

.propaganda_xian {
	width: 962px;
	text-align: center;
	margin-bottom: 3px;
	background: url(../images/login_33.gif) repeat-x;
	margin: 0 auto;
	height: 10px;
}

* html .propaganda_xian {
	width: 962px;
	text-align: center;
	margin-bottom: 3px;
	background: url(../images/login_33.gif) repeat-x;
	margin: 0 auto;
	height: 10px;
	margin-top: 16px;
}

.content {
	height: 390px;
	background: url(../images/content_bj_02.gif) repeat-x;
	height: 370px;
	margin: 0 auto;
	text-align: center;
	width: 953px;
}

.link_right {
	text-align: right;
	color: #666666;
}

.link_right a {
	color: #666666;
	text-decoration: none;
	cursor: pointer;
}

.link_right a:hover {
	color: #407CCF;
	text-decoration: underline;
}

.bold_zi {
	font-weight: bold;
	color: #407CCF;
	text-decoration: none;
}

.table_nr {
	margin-top: 100px;
	margin-left: 100px;
}

* html .table_nr {
	margin-top: 100px;
}

.table_nr td {
	font-size: 13px;
	line-height: 42px;
	color: #383A37;
}

.input {
	height: 20px;
	border: 1px solid #99CAD8;
	width: 150px;
	line-height: 22px;
}

.input1 {
	height: 19px;
	border: 1px solid #99CAD8;
	width: 90px;
	line-height: 22px;
}

.bottom_zi {
	line-height: 22px;
	text-align: center;
	padding-top: 15px;
}